.official-partners a:nth-child(1) img { width: 172%; }
.official-partners a:nth-child(2) img { width: 138%; }
.official-partners a:nth-child(3) img { width: 132%; }
.official-partners a:nth-child(5) img { width: 128%; }
.official-partners a:nth-child(6) img { width: 142%; }
.official-partners a:nth-child(8) img { width: 134%; }
